<link rel="stylesheet" href="/stylesheets/blockeduser.css">
<body>
  <div class="container">
    <h2>Blocked User's <small>Organic</small></h2>

    {{#if success}}
    <div class="alert alert-success">
      {{success}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger">
      {{error}}
    </div>
    {{/if}}

    <ul class="responsive-table">
      <li class="table-header">
        
        <div class="col col-1">User Name</div>
        <div class="col col-2">Email</div>
        <div class="col col-3">Phone Number</div>
        <div class="col col-4">Active/Deactive</div>
      </li>
      {{#each Users}}
      <li class="table-row">
        <div class="col col-1" data-label="categoryname">{{this.userName}}</div>
        <div class="col col-2" data-label="categoryname">{{this.email}}</div>
        <div class="col col-3" data-label="categoryname">{{this.phoneNumber}}</div>
        <div class="col col-4" data-label="active"><label
            class="{{#if this.isActive}}active{{else}}deactive{{/if}}">
            {{#if this.isActive}}Active{{else}}Deactive{{/if}}
          </label>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  </body>

