<link rel="stylesheet" href="/stylesheets/productlisting.css">
<style>
    .product-discount-label{
        display:block;
        padding:4px 15px 4px 30px;
        color:#fff;
        background-color:#206b1b;
        position:absolute;
        top:0px;
        right:0;
        -webkit-clip-path:polygon(34% 0,100% 0,100% 100%,0 100%);
        clip-path:polygon(34% 0,100% 0,100% 100%,0 100%)}
</style>
<main>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
        <div class="col px-5 mt-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="/">Home</a></li>
                            <li
                                class="breadcrumb-item active">Categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container py-5">
        <h4 class="text-center">
            <strong>Shop For</strong>
        </h4>
        <div class="row">
            {{#each categories}}
	            <div class="col-md-4">
                    <hr>
                        <a  class="prod_card" href="/productList/{{this._id}}" class="product-link">
                            <div class="profile-card-2"><img src="/{{this.images.[0]}}" alt="{{name}}" loading="lazy" class="img img-responsive">
                            {{#if this.offer}}
                                <span class="product-discount-label">
                                    {{#if (isEqual this.offer.discountType "Percentage")}}
                                        {{this.offer.discountValue}}% off
                                    {{else}}
                                        {{this.offer.discountValue}} Rs off
                                    {{/if}}
                                </span>
                                    {{/if}}
                                <div class="profile-name">
                                    {{name}}
                                </div>
                            </div>
                        </a>
                </div>
            {{/each}}
        </div>
    </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/productcategory.js"></script>
