<link rel="stylesheet" href="/stylesheets/productlisting.css">

<main>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
    <div class="container m-3 d-flex flex-column  p-3">
        <div class="d-flex align-itmes-center justify-content-between">
            <div class="search">
                <input list="categorySuggestions" type="text" class="search-input" id="search-input" placeholder="Search..." name="">
                <datalist id="categorySuggestions">
                    {{#each categories}}
                    <option value="{{this.name}}"></option>
                    {{/each}}
                </datalist>
                <a href="#" class="search-icon" id="search-button">
                    <i class="bi bi-search"></i>
                </a>
            </div>
            <div class="dropdown sort-dropdown" >
                <button class="btn dropdown-toggle dropdown-btn" style="background-color: #6A9739;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu list-dropdown item-dropdown">
                    <li><a class="dropdown-item sort-option" href="#" data-sort="asc">Aa-Zz</a></li>
                    <li><a class="dropdown-item sort-option" href="#" data-sort="desc">Zz-Aa</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="col px-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="/">Home</a></li>
                            <li
                                class="breadcrumb-item active">Categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container py-5">
        <h4 class="text-center">
            <strong>Shop For</strong>
        </h4>
        <div class="row">
            {{#each categories}}
	            <div class="col-md-4">
                    <hr>
                        <a  class="prod_card" href="/productList/{{this._id}}" class="product-link">
                            <div class="profile-card-2"><img src="/{{this.images.[0]}}" alt="{{name}}" loading="lazy" class="img img-responsive">
                                <div class="profile-name">
                                    {{name}}
                                </div>
                            </div>
                        </a>
                </div>
            {{/each}}
        </div>
    </div>
    </div>
    
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/productcategory.js"></script>