<link rel="stylesheet" href="/stylesheets/productlisting.css">

<main>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
    <div class="container m-3 d-flex flex-column p-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="search">
                <input list="productSuggestions" type="text" class="search-input" id="search-input" placeholder="search..." name="">
                <datalist id="productSuggestions">
                    {{#each productList}}
                        <option value="{{this.attributeValue}}"></option>
                    {{/each}}
                </datalist>
                <a href="#" class="search-icon" id="search-button">
                    <i class="bi bi-search"></i>
                </a>
            </div>
            <div class="dropdown sort-dropdown">
                <button class="btn dropdown-toggle dropdown-btn" style="background-color: #6A9739;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu list-dropdown item-dropdown">
                    <li><a class="dropdown-item sort-option" href="#" data-sort="asc" value="name_asc">Aa-Zz</a></li>
                    <li><a class="dropdown-item sort-option" href="#" data-sort="desc" value="name_desc">Zz-Aa</a></li>
                    <li><a class="dropdown-item sort-option" href="#" data-sort="price-low-high" value="price_asc">price low-high</a></li>
                    <li><a class="dropdown-item sort-option" href="#" data-sort="price-high-low" value="price_desc">price high-low</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="col px-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a
                                    href="/categories">Categories</a></li>
                                    <li class="breadcrumb-item"><a
                                    href="/productList/{{categoryId}}">{{categoryName}}</a></li>
                            <li
                                class="breadcrumb-item active">{{baseProduct.name}}</li>
                                <input type="hidden" id="product-id" value="{{baseProduct._id}}">
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container py-5">
        <h4 class="text-center"><strong>Shop For</strong></h4>
        <div id="product-list" class="row">
            {{#each productList}}
	            <div class="col-md-4">
                    <hr>
                        <a  class="prod_card" href="/productDetails/{{this._id}}" class="product-link">
                            <div class="profile-card-2"><img src="/{{this.images.[0]}}" alt="{{attributeName}}" loading="lazy" class="img img-responsive">
                                <div class="profile-name">
                                    {{attributeValue}}
                                </div>
                                <div class="profile-username">
                                    <div class="price">
                                        
                                    </div>
                                </div>
                            </div>
                        </a>
                </div>
            {{/each}}
        </div>
        <div class="pagination-container d-flex flex-row align-items-center justify-content-between m-4">
                    <div class="pagination-summary text-primary">
                        Page {{ currentPage }} of {{ totalPages }}
                        <input type="hidden" id="current-page" value="{{currentPage}}">
                    </div>
                    <div class="pagination-links d-flex flex-row align-items-center justify-content-between gap-3">
                        {{#if (gt currentPage 1)}}
                        <a href="/productPlus/{{baseProduct._id}}?page={{ subtract currentPage 1 }}" class="pagination-link text-primary">Previous</a>
                        {{/if}}
                        {{#if (lt currentPage totalPages)}}
                        <a href="/productPlus/{{baseProduct._id}}?page={{ add currentPage 1 }}" class="pagination-link text-primary">Next</a>
                        {{/if}}
                    </div>
                </div>
    </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/productplus.js"></script>


