<link rel="stylesheet" href="/stylesheets/productDetails.css">
<link rel="stylesheet" href="/stylesheets/productlisting.css">
<body>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
    <div class="container">
        <div class="row m-5 d-flex flex-row align-items-center justify-content-between">
            <div class="col-md-4 ">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{#each variantDetails.images}}
                        <div class="carousel-item {{#if (isEqual @index 0)}}active{{/if}}">
                            <img src="/{{this}}" class="d-block w-100" alt="Product Image" style="width: 50%; height: 50%;">
                        </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="row mt-5">
                    {{#each variantDetails.images}}
                    <div class="col-3">
                        <img src="/{{this}}"  class="img-thumbnail" alt="Thumbnail" data-bs-target="#productCarousel" data-bs-slide-to="{{@index}}">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6 py-2 d-flex flex-column py-3 ">
                <div class="d-flex align-items-baseline gap-4">
                    <h2>{{variantDetails.attributeValue}}</h2> 
                    <span style="font-size: 12px;">{{categoryName}}</span>
                </div>
                <p><b>Product Details   : </b> {{productDetails.title}}</p>
                <p>
                    <b>Price:</b>
                    {{#if offerPrice}}
                    <span style="text-decoration: line-through; color: red;">{{actualPrice}} Rupees</span>
                    <span>{{offerPrice}} Rupees</span>
                    {{else}}
                    <span>{{actualPrice}} Rupees</span>
                    {{/if}}
                </p>
                <div class="d-flex align-items-baseline gap-4">
                    <!-- Display the stock details dynamically -->
                        {{#if (gt variantDetails.stock 0)}}
                            {{#if (gt variantDetails.stock 10)}}
                                <p class="text-success">In Stock</p>
                            {{else}}
                                <p class="text-danger">Only {{variantDetails.stock}} left</p>
                            {{/if}}
                        {{else}}
                            <p class="text-info">Sorry, Out of Stock</p>
                        {{/if}}
                </div>
                <p><b>Rating:</b> {{rating}}</p>
                <h3><b>Reviews</b></h3>
                <ul>
                    {{#each reviews}}
                    <li>{{this.user}}: {{this.comment}}</li>
                    {{/each}}
                </ul>

                <div class="cart-button mt-3 px-2 d-flex justify-content-around align-items-center pb-5">
                    <form action="/addToCart" method="POST">
                        <!-- Hidden input field to store the product ID -->
                        <input type="hidden" name="variantId" value="{{variantDetails._id}}">
                            <!-- Disable the "Add to Cart" button if out of stock -->
                                {{#if (gt variantDetails.stock 0)}}
                                    {{#if productInCart}}
                                        <!-- Render a disabled button with a message if the product is already in the cart -->
                                            <a href="/cart">
                                                <button id="viewInCartButton" class="btn btn-success text-uppercase" type="button">
                                                    View in Cart
                                                </button>
                                            </a>
                                    {{else}}
                                    <!-- Render the "Add to Cart" button if the product is not in the cart -->
                                        <button class="btn btn-success  text-uppercase" type="submit" >
                                            Add to Cart
                                        </button>
                                    {{/if}}
                                    {{else}}
                                        <!-- Render a disabled "Out of Stock" button -->
                                        <button class="btn btn-danger  text-uppercase" type="button" disabled>
                                        Out of Stock
                                        </button>
                                    {{/if}}
                    </form>
                    <form action="/addToWishlist" method="POST">
                    <input type="hidden" name="variantId" value="{{variantDetails._id}}">
                    {{#if productInWishlist}}
                    <button class="btn btn-success  text-uppercase" disabled>Already in Wishlist</button>
                    {{else}}
                    <button class="btn btn-success  text-uppercase">Add to Wishlist</button>
                    {{/if}}
                    </form>
                    
                </div>
            </div>
        </div> 

        <hr>
        <h3>Related Products</h3>
        <div class="row">
                    {{#each sixRandomVariants}}
	                <div class="col-md-4">
                    <hr>
                        <a  class="prod_card" href="/productDetails/{{this._id}}" class="product-link">
                            <div class="profile-card-2"><img src="/{{this.images.[0]}}" alt="{{title}}" loading="lazy" class="img img-responsive">
                                <div class="profile-name">
                                    {{attributeValue}}
                                </div>
                                <div class="profile-username">
                                    Buy At: {{price}}
                                </div>
                            </div>
                        </a>
                </div>
            {{/each}}
        </div>
            </div>
        </div>
    </div>
</body>
