{{!< userLayout}}
<link rel="stylesheet" href="/stylesheets/productDetails.css">
<body>
    <div class="container">
        <div class="row m-5 d-flex flex-row align-items-center justify-content-between">
            <div class="col-md-4 ">
                <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{#each productDetails.images}}
                        <div class="carousel-item {{#if (isEqual @index 0)}}active{{/if}}">
                            <img src="/{{this}}" class="d-block w-100" alt="Product Image" style="width: 50%; height: 50%;">
                        </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="row mt-5">
                    {{#each productDetails.images}}
                    <div class="col-3">
                        <img src="/{{this}}"  class="img-thumbnail" alt="Thumbnail" data-bs-target="#productCarousel" data-bs-slide-to="{{@index}}">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6 py-2 d-flex flex-column py-3 ">
                <h2>{{productDetails.title}}</h2>
                <p><b>Details:</b><br><br>{{productDetails.description}}</p>
                <p><b>Price:</b>{{productDetails.price}} Rupees</p>
                <div class="cart-button mt-3 px-2 d-flex justify-content-around align-items-center pb-5">
                    <form action="/addToCart" method="POST">
                        <!-- Hidden input field to store the product ID -->
                        <input type="hidden" name="productId" value="{{productDetails._id}}">
                            <button class="btn btn-primary text-uppercase" type="submit">
                                Add to Cart
                            </button>
                    </form>
                    <button class="btn btn-primary  text-uppercase">
                        Add to Wishlist
                    </button>
                </div>
                <p><b>Stock:</b> {{stock}}</p>
                <p><b>Rating:</b> {{rating}}</p>
                <h3><b>Reviews</b></h3>
                <ul>
                    {{#each reviews}}
                    <li>{{this.user}}: {{this.comment}}</li>
                    {{/each}}
                </ul>
            </div>
        </div> 

        <hr>
        <h3>Related Products</h3>
        <div class="row">


            {{#each relatedProducts}}
                    <div class="col-md-4">
                        <a  class="prod_card" href="/productDetails/{{this._id}}" class="product-link">
                            <div class="product py-4">
                                <span class="off bg-success">-25% OFF</span>
                                <div class="text-center"><img class="card-img" src="/{{this.images.[0]}}" alt="{{title}}" loading="lazy"></div>
                                <div class="about text-center">
                                    <h5>{{title}}</h5>
                                    <span>Price: {{price}}</span>
                                </div>
                                <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
                                    <button class="btn btn-primary text-uppercase">Details</button>
                                    <div class="add">
                                        <span class="product_fav"><i class="bi bi-heart"></i></i></span> <span class="product_fav"><i class="bi bi-cart3"></i></i></span>
                                    </div>
                                </div>
                            </div>
                        </a> 
                    </div>
                    {{/each}}
        </div>
            </div>
        </div>
    </div>
</body>
