<link rel="stylesheet" href="/stylesheets/productlisting.css">
<body>
    <div class="container-fluid mt-5 mb-5">
    <div class="row g-2">
        <div class="col-md-3">
            <div class="t-products p-2">
                <h6 class="text-uppercase">Product Category</h6>
                <div class="p-lists">
                    <div class="d-flex justify-content-between mt-2"><span>Beverages</span> <span>23</span></div>
                    <div class="d-flex justify-content-between mt-2"><span>Pantry Staples</span> <span>46</span></div>
                    <div class="d-flex justify-content-between mt-2"><span>Fresh Produce</span> <span>13</span></div>
                    <div class="d-flex justify-content-between mt-2"><span>Dairy Alternatives</span> <span>33</span></div>
                    <div class="d-flex justify-content-between mt-2"><span>Snack Foods</span> <span>12</span></div>
                    <div class="d-flex justify-content-between mt-2"><span>Spreads & Butters</span> <span>203</span></div>
                </div>
            </div>
            <div class="organic-categories p-2">
    <div class="heading d-flex justify-content-between align-items-center">
        <h6 class="text-uppercase">Product Varieties</h6>
        <span>4</span>
    </div>
    <!-- Tea -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="teaCheckbox" />
            <label class="form-check-label" for="teaCheckbox"> Tea </label>
        </div>
        <span>7</span> 
    </div>
    <!-- Coffee -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="coffeeCheckbox" />
            <label class="form-check-label" for="coffeeCheckbox"> Coffee </label>
        </div>
        <span>10</span> 
    </div>
    <!-- Juices -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="juicesCheckbox" />
            <label class="form-check-label" for="juicesCheckbox"> Juices </label>
        </div>
        <span>15</span> 
    </div>
    <!-- Oils -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="oilsCheckbox" />
            <label class="form-check-label" for="oilsCheckbox"> Oils </label>
        </div>
        <span>15</span> 
    </div>
    <!-- Vinegars -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="vinegarsCheckbox" />
            <label class="form-check-label" for="vinegarsCheckbox"> Vinegars </label>
        </div>
        <span>12</span> 
    </div>
    <!-- Grains -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="grainsCheckbox" />
            <label class="form-check-label" for="grainsCheckbox"> Grains </label>
        </div>
        <span>15</span> 
    </div>
    <!-- Flours -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="floursCheckbox" />
            <label class="form-check-label" for="floursCheckbox"> Flours </label>
        </div>
        <span>12</span>
    </div>
    <!-- Trail Mixes -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="trailMixesCheckbox" />
            <label class="form-check-label" for="trailMixesCheckbox"> Trail Mixes </label>
        </div>
        <span>7</span> 
    </div>
    <!-- Energy Bars -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="energyBarsCheckbox" />
            <label class="form-check-label" for="energyBarsCheckbox"> Energy Bars </label>
        </div>
        <span>10</span> 
    </div>
    <!-- Cookies -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cookiesCheckbox" />
            <label class="form-check-label" for="cookiesCheckbox"> Cookies </label>
        </div>
        <span>15</span> 
    </div>
    <!-- Skincare -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="skincareCheckbox" />
            <label class="form-check-label" for="skincareCheckbox"> Skincare </label>
        </div>
        <span>15</span> 
    </div>
    <!-- Haircare -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="haircareCheckbox" />
            <label class="form-check-label" for="haircareCheckbox"> Haircare </label>
        </div>
        <span>16</span> 
    </div>
    <!-- Detergents -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="detergentsCheckbox" />
            <label class="form-check-label" for="detergentsCheckbox"> Detergents </label>
        </div>
        <span>7</span> 
    </div>
    <!-- Soaps -->
    <div class="d-flex justify-content-between mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="soapsCheckbox" />
            <label class="form-check-label" for="soapsCheckbox"> Soaps </label>
        </div>
        <span>5</span> 
    </div>
</div>

            <div class="brand p-2">
                <div class="heading d-flex justify-content-between align-items-center">
                    <h6 class="text-uppercase">Organic Brands</h6>
                    <span>106</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <label class="form-check-label" for="Organic Harvest"> Organic Harvest </label></div>
                    <span>13</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked /> <label class="form-check-label" for="Nature's Path"> Nature's Path </label></div>
                    <span>4</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked /> <label class="form-check-label" for="Annie's Homegrown"> Annie's Homegrown </label></div>
                    <span>24</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked /> <label class="form-check-label" for="Clif Bar"> Clif Bar </label></div>
                    <span>18</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked /> <label class="form-check-label" for="Seventh Generation"> Seventh Generation </label></div>
                    <span>44</span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row g-2">
                {{#each products}}
                    <div class="col-md-4">
                        <a  class="prod_card" href="/productDetails/{{this._id}}" class="product-link">
                            <div class="product py-4">
                                <span class="off bg-success">-25% OFF</span>
                                <div class="text-center"><img class="card-img" src="/{{this.images.[0]}}" alt="{{title}}" loading="lazy"></div>
                                <div class="about text-center">
                                    <h5>{{title}}</h5>
                                    <span>Price: {{price}}</span>
                                </div>
                                <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
                                    <button class="btn btn-primary text-uppercase">Details</button>
                                    <div class="add">
                                        <span class="product_fav"><i class="bi bi-heart"></i></i></span> <span class="product_fav"><i class="bi bi-cart3"></i></i></span>
                                    </div>
                                </div>
                            </div>
                        </a> 
                    </div>
                    {{/each}}
            </div>
        </div>
    </div>
</div> 
</body>







