<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/stylesheets/addcategory.css">
<body>
    <div class="container mt-5">
        <h2>Category Management <small>Organic</small></h2>

        {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {{/if}}                
        {{#if success}}
            <div class="alert alert-success">
                {{success}}
            </div>
        {{/if}}

        <div class="d-flex justify-content-end mb-3">       
            <a href="/admin/addcategory" class="btn btn-sm btn-success mr-2">
                    + Add Category
            </a>     
            
        </div>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr style="width: 100%;">
                        <th>Category Name</th>
                        <th>Image</th>
                        <th>Active/Deactive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each Category}}
                    <tr style="width: 100%;">
                        <td>{{this.name}}</td>
                        <td><img src="/{{this.images.[0]}}" alt="Category Image" class="img-fluid" style="width: 50px; height: 50px;"></td>
                        <td>
                            <span class="{{#if this.isActive}}text-success{{else}}text-danger{{/if}}">
                                {{#if this.isActive}}Active{{else}}Deactive{{/if}}
                            </span>
                        </td>
                        <td class="d-flex justify-content-start">
                            <a href="/admin/editCategory/{{this._id}}" class="btn btn-sm btn-primary mr-2">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/admin/deleteCategory/{{this._id}}?_method=PUT" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <!-- Pagination Section -->
        <div class="pagination-container text-primary d-flex justify-content-between mt-4">
            <div class="pagination-summary">
                Page {{ currentPage }} of {{ totalPages }}
            </div>
            <div class="pagination-links d-flex gap-3">
                {{#if (gt currentPage 1)}}
                <a href="/admin/category?page={{ subtract currentPage 1 }}" class="pagination-link">Previous</a>
                {{/if}}
                {{#if (lt currentPage totalPages)}}
                <a href="/admin/category?page={{ add currentPage 1 }}" class="pagination-link">Next</a>
                {{/if}}
            </div>
        </div>
    </div>
</body>