<link rel="stylesheet" href="/stylesheets/category.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
  <div class="container">
    <h2>Category Management <small>Organic</small></h2>

    {{#if success}}
    <div class="alert alert-success">
      {{success}}
    </div>
    {{/if}}
    {{#if error}}
    <div class="alert alert-danger">
      {{error}}
    </div>
    {{/if}}

    <div
      class="d-flex flex-row align-items-baseline justify-content-end">
      <!-- Add Category Button -->
      <div class="btn-group me-2"><a href="/admin/addcategory"class="btn btn-sm mb-4"
          style=" background-color: #6A9739; color: white;">+ Add Category</a>
      </div>
    </div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Category Name</div>
        <div class="col col-2">Image</div>
        <div class="col col-3">Active/Deactive</div>
        <div class="col col-4">Actions</div>
      </li>
      {{#each Category}}
      <li class="table-row">
        <div class="col col-1" data-label="categoryname">
          {{this.name}}
        </div>
        <div class="col col-2" data-label="category_image">
          <img style="width: 50px; height: 50px;" src="/{{this.images.[0]}}" alt="Category Image">
        </div>
        <div class="col col-3" data-label="active">
          <label class="{{#if this.isActive}}active{{else}}deactive{{/if}}">
            {{#if this.isActive}}Active{{else}}Deactive{{/if}}
          </label>
        </div>
        <div class="col col-4 d-flex flex-row justify-content-left gap-2">
          <button type="button" id="editButton">
            <a href="/admin/editCategory/{{this._id}}">
              <i class="bi bi-pencil"></i></a></button>
              <form action="/admin/deleteCategory/{{this._id}}?_method=PUT" method="POST" id="deleteform">
              <button type="submit" class="deleteButton">
              <i class="bi bi-trash"></i>
              </button>
              </form>
          </div>
      </li>
      {{/each}}
    </ul>
  </div>
{{!-- <script src="/javascripts/category.js"></script> --}}
  </body>