<link rel="stylesheet" href="/stylesheets/accorderDetails.css">
<body>
    <div class="container">
        <h1>User Account - Orders</h1>
        <div class="orders-list">
            {{#each orderDetails}}
            <a href="/orderDetails/{{ this._id }}" class="order-card">
            <div class="order-card">
                <div class="row">
                    <div class="col">Order Id:</div>
                    <div class="col">{{ this.newOrderId }}</div>
                </div>
                <div class="row">
                    <div class="col">Order Date:</div>
                    <div class="col order-date">{{ this.orderDate }}</div>
                </div>
                <div class="row">
                    <div class="col">Total Amount:</div>
                    <div class="col">₹{{ this.totalAmount }}</div>
                </div>
                <div class="row">
                    <div class="col">Delivery Status:</div>
                    <div class="col">{{ this.orderStatus }}</div>
                </div>
            </div>
        </a>
            {{#if (isEqual this.orderStatus "Cancelled")}}
                <button class="cancel-button-disabled" disabled>Cancelled</button>
            {{else if (isEqual this.orderStatus "Completed")}}
                <button class="return-button" data-orderid="{{ this._id }}">Return Order</button>
            {{else if (isEqual this.orderStatus "Return")}}
                <button class="cancel-return-button" data-orderid="{{ this._id }}">Cancel-Return</button>
            {{else}}
                <button class="cancel-button" data-orderid="{{ this._id }}">Cancel Order</button>
            {{/if}}
            {{/each}}
        </div>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {{#if (gt currentPage 1)}}
                <li class="page-item">
                    <button class="page-link" onclick="changePage({{subtract currentPage 1}})">Previous</button>
                </li>
            {{/if}}
            {{#if (lt currentPage totalPages)}}
                <li class="page-item">
                    <button class="page-link" onclick="changePage({{add currentPage 1}})">Next</button>
                </li>
            {{/if}}
        </ul>
    </nav>
    </div>
    <script src="/javascripts/orderDetails.js"></script>
</body>
