<link rel="stylesheet" href="/stylesheets/profiledetails.css">
<body>
<div class="container px-1 py-5 mx-auto">
    {{!-- dispaly success and error message --}}
{{#if error}}
<div class="alert alert-danger">
    {{error}}
</div>
{{/if}}                
{{#if success}}
<div class="alert alert-success">
    {{success}}
</div>
{{/if}}
    <h3>Personal Information</h3>
    <div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="/">Home</a></li>
                    <li class="breadcrumb-item active">{{userDetails.userName}}</li>
                </ol>
            </nav>
        </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-6  ">
            
            <div class="card col-lg-10 col-md-8">
                {{!-- form for editing profiles --}}
                <form class="form-card p-3" id="editprofileForm" action="/editProfile/{{userDetails._id}}?_method=PUT" method="POST">
                    
                    <div class="form-group col-m-6 flex-column d-flex gap-2">
                            <label class="form-control-label p-2">User name :</label> 
                            <input type="text" id="fname" name="uname" value="{{userDetails.userName}}" />
                            <span id="username_error" style="color: red;"></span>
                        </div>
                        <div class="form-group col-m-6 flex-column d-flex gap-2">
                            <label class="form-control-label p-2">Email :</label>
                            <input type="text" id="email" name="email" value="{{userDetails.email}}"/>
                            <span id="email_error" style="color: red;"></span>
                        </div>
                    
                        
                        <div class="form-group col-m-6 flex-column d-flex gap-2">
                            <label class="form-control-label p-2">Phone number:</label>
                            <input type="text" id="mob" name="mob" value="{{userDetails.phoneNumber}}"/>
                            <span id="phone_error" style="color: red;"></span>
                        </div>
                        
                    <div class="row justify-content-start">
                        <div class="form-group col-sm-6 p-3">
                            <span id="form_error" style="color: red;"></span>
                        <button type="submit" form="editprofileForm" class="btn-block btn-info submitButton">Submit</button></div>
                    </div>
                </form>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#changePassword">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Modal for changing password -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" action="/changePassword/{{userDetails._id}}" method="POST">
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" >
                        <span id="old_error" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" >
                        <span id="new_error" style="color: red;"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" >
                        <span id="confirm_error" style="color: red;"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{{!-- custom javascript --}}
<script src="/javascripts/accountscript.js"></script>
</body>