<link rel="stylesheet" href="stylesheets/shoppingcart.css">
<body>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
    <div class="container py-5">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cartitems}}
                                <tr>
                                    <td>
                                        <a href="/productDetails/{{variantId}}">
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src={{productImage}} class="img-sm"></div>
                                            <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">{{productName}}</a>
                                                <p class="text-muted small">{{category}}<br>{{baseProduct}}<br>
                                                Quantity: <span class="quantity" id="productquantity-{{variantId}}">{{quantity}}</span><br>Base Price:{{actualPrice}}</p>
                                            </figcaption>
                                        </figure>
                                        </a>
                                    </td>
                                    <td> <select class="form-control quantity-select" data-variant-id="{{variantId}}" style="width: 50%;">
                                            <option value="1" {{#if (isEqual quantity 1)}}selected{{/if}}>1</option>
                                            <option value="2" {{#if (isEqual quantity 2)}}selected{{/if}}>2</option>
                                            <option value="3" {{#if (isEqual quantity 3)}}selected{{/if}}>3</option>
                                            <option value="4" {{#if (isEqual quantity 4)}}selected{{/if}}>4</option>
                                        </select>
                                    <td>
                                        <div class="price-wrap"> 
                                            <var class="price" id="total-price-{{variantId}}">{{totalPrice}}<br></var> 
                                            <small class="text-muted"> {{actualPrice}} X <span class="quantity" id="quantity-{{variantId}}"  data-base-price="{{basePrice}}">{{quantity}}</span> </small> 
                                        </div>
                                    </td>
                                    <td class="text-right d-none d-md-block">
                                        <form id="removeForm" method="POST" action="/removeCartProduct/{{variantId}}">
                                        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-secondary" data-toggle="tooltip" data-abc="true"> 
                                        <i class="bi bi-heart px-1"></i></a>
                                        <button type="submit" class="btn btn-danger " data-abc="true"><i class="bi bi-x px-1"></i></button> 
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group"> <label>Have coupon?</label>
                                <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total Quantity:</dt>
                            <dd class="text-right ml-3"><strong class="total-quantity">{{totalQuantity}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right ml-3"><strong class="total-price-of-all-products">{{totalPriceOfAllProducts}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right text-danger ml-3">- 00.00</dd>
                        </dl> 
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right ml-3"><strong class="total-price-of-all-products">{{totalPriceOfAllProducts}}</strong></dd>
                        </dl>
                        <hr> <a href="/checkout" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a>
                        <a href="/" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</body>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="/javascripts/shoppingCart.js"></script>
