<link rel="stylesheet" href="stylesheets/shoppingcart.css">
<body>
    {{#if error}}
            <div id="flash-message" class="alert alert-danger" role="alert">
            {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flash-message" class="alert alert-success" role="alert">
            {{success}}
            </div>
            {{/if}}
    <div class="container py-5">
        <div class="row">
            <aside class="col-lg-9">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each cartitems}}
                                <tr id="cart-item-{{variantId}}">
                                    <td>
                                        <a href="/productDetails/{{variantId}}">
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src={{productImage}} class="img-sm"></div>
                                            <figcaption class="info"> <a href="/productDetails/{{variantId}}" class="title text-dark" data-abc="true">{{productName}}</a>
                                                <p class="text-muted small">{{category}}<br>{{baseProduct}}<br>
                                                Stock: {{#if (lt stock 5)}}
                                                            <span class="stock text-danger small">{{stock}} left</span>
                                                        {{else}}
                                                            <span class="stock text-success small">In Stock</span>
                                                        {{/if}}
                                                        <br>
                                                Quantity: <span class="quantity" id="productquantity-{{variantId}}">{{quantity}}</span><br>Base Price:{{actualPrice}}</p>
                                            </figcaption>
                                        </figure>
                                        </a>
                                    </td>
                                    <td> <div class="quantity-controls" data-variant-id="{{variantId}}" style="display: flex; align-items: center;">
                                            <button type="button" class="btn btn-sm btn-danger quantity-decrease">-</button>
                                            <input type="text" class="form-control quantity-input" value="{{quantity}}" style="width: 40%;height: 10%; text-align: center;" readonly>
                                            <button type="button" class="btn btn-sm btn-danger quantity-increase">+</button>
                                            <span id="stock-error-{{variantId}}" class="text-danger"></span>
                                        </div>
                                    
                                    <td>
                                        <div class="price-wrap"> 
                                            <var class="price" id="total-price-{{variantId}}">{{totalPrice}}<br></var> 
                                            <small class="text-muted"> {{actualPrice}} X <span class="quantity" id="quantity-{{variantId}}"  data-base-price="{{basePrice}}">{{quantity}}</span> </small> 
                                        </div>
                                    </td>
                                    <td class="text-right d-none d-md-block ">
                                        <div class="d-flex justify-content-around">
                                        <form id="removeForm" data-variant-id="{{variantId}}">
                                        <button type="submit" class="btn" data-abc="true">
                                            <i class="bi bi-x-lg"></i>
                                        </button> 
                                        </form>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group"> <label>Have coupon?</label>
                                <div class="input-group d-flex align-items-center justify-content-around gap-2" > 
                                    <input type="text" class="form-control coupon" name="coupon" placeholder="Coupon code" style="width: 40%;"> 
                                    <span class="input-group-append"> 
                                        <button type="button" style="width: 80%;" class="btn btn-sm btn-info btn-apply-coupon" data-bs-toggle="modal" data-bs-target="#applyCouponModal">
                                            <i class="bi bi-eye"></i>
                                            </button> 
                                    </span> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total Quantity:</dt>
                            <dd class="text-right ml-3"><strong class="total-quantity">{{totalQuantity}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right ml-3"><strong class="total-price-of-all-products">{{totalPriceOfAllProducts}}</strong></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right text-danger ml-3"><strong class="discount-with-coupon">- 00.00</strong></dd>
                        </dl> 
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right ml-3"><strong class="total-price-with-discount-products">{{totalPriceOfAllProducts}}</strong></dd>
                        </dl>
                        <hr> <a href="/checkout" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a>
                        <a href="/" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="applyCouponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closecouponModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="coupon-list" class="list-group">
                    
                </ul>
            </div>
        </div>
    </div>
</div>

{{!-- <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span id="errorMessage"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="reloadButton">OK</button>
        </div>
        </div>
    </div>
</div> --}}

        <script src="/javascripts/shoppingCart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>

