<link rel="stylesheet" href="/stylesheets/index.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" /> 
<body>
            {{#if error}}
            <div id="flashMessage" class="alert alert-danger" role="alert">
              {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div id="flashMessage" class="alert alert-success" role="alert">
              {{success}}
            </div>
            {{/if}}
  <div class="container-fluid ">
    <main>
      <section class="website-image row ">
        <div class="col-lg-6 d-flex flex-column align-items-center">
          <img class="branch-icon " loading="lazy" alt="image" src="/images/organic-products.png" />
        </div>
        <div
          class="col-lg-6 col-md-8 col-sm-10 d-flex flex-column align-items-center">
          <div class="conditional-link text-center ">

            <div class="comparison-node">
              <div class="iteration-loop">
                <div class="sequence-flow">
                  <div class="parallel-split">
                    <img class="logo-leaf-new-1-icon" loading="lazy" alt="images" src="/images/logo-leaf-new.png" />
                  </div>
                  <div class="conditional-link d-flex flex-column align-items-center">
                    <div class="best-quality-products">
                      Best Quality Products
                    </div>
                    <h1 class="join-the-organic">Join The Organic Movement!</h1>
                  </div>
                  <div class="lorem-ipsum-dolor">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                    elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                    leo.
                  </div>
                </div>
                <div
                  class="error-handler d-flex justify-content-center align-items-center">
                  <a href="/categories">
                  <button class="flow-control ">
                    <div class="rectangle"></div>
                    <div class="shop-now">Shop Now</div>
                  </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="index-tracker ">
        <div class="boolean-operator">
          <div class="rectangle rectangle1 "></div>
          <div class="nested-loop col-lg-3 col-md-6 col-sm-9">
            <div class="rectangle rectangle2 col-lg-2 col-md-6 col-sm-12"></div>
            <div class="free-shipping">Free Shipping</div>
            <div class="above-5-only">Above $5 Only</div>
          </div>
          <div class="nested-loop1 ">
            <div class="rectangle rectangle3 col-lg-2 col-md-6 col-sm-12"></div>
            <div class="certified-organic">Certified Organic</div>
            <div class="guarantee">100% Guarantee</div>
          </div>
          <div class="nested-loop2 ">
            <div class="rectangle rectangle4 col-lg-2 col-md-6 col-sm-12"></div>
            <div class="huge-savings">Huge Savings</div>
            <div class="at-lowest-price">At Lowest Price</div>
          </div>
          <div class="nested-loop3 ">
            <div class="rectangle rectangle5 col-lg-2 col-md-6 col-sm-12"></div>
            <div class="easy-returns">Easy Returns</div>
            <div class="no-questions-asked">No Questions Asked</div>
          </div>
        </div>
      </section>
      <section class="input-output">
  <div class="data-processor">
      <div class="graph-connection ">
        <h1 class="best-selling-products">Best Selling Products</h1>
        <div class="text-manipulator">
                  <img class="geometry-tools-icon" loading="lazy" alt
                    src="/images/logo-leaf-new.png" />
                </div>
        <div class="card-aligner">
        
          {{#each products}}
          <div class="card alignment-helper" style="width: 18rem;">
          <img
            src="{{this.images.[0]}}"
            class="card-img-top" alt=" {{this.attributeValue}}">
          <div class="card-body image-icon">
            <h5 class="card-title assorted-coffee"> {{this.attributeValue}}</h5>
            <p class="card-text frame-container"></p>
            <div class="error-handler d-flex justify-content-center align-items-center">
              <button class="flow-control ">
                <div class="rectangle"></div>
                <a href="/productDetails/{{this._id}}">
                <div class="shop-now">Shop Now</div>
                </a>
              </button>
            </div>
          </div>
        </div>
        {{/each}}
        </a>
        </div>
      </div>
  </div>
</section>

        <section class="vector-graphic">
          <div class="symbol-library">
            <div class="color-palette">
              <img class="brush-collection-icon" loading="lazy" alt="images" src="/images/basil-leaf.png" />
            </div>
            <div class="shape-builder">
              <div class="stroke-settings">
                <div class="wrapper-filling-options">
                  <img class="filling-options-icon" loading="lazy" alt="images" src="/images/fruits1.jpg" />
                </div>
                <h3 class="farm-fresh-fruits">Farm Fresh Fruits</h3>
                <div class="paragraph-settings">
                  <div class="grid-system">
                    <div class="constraints-manager">
                      <a href="/categories">
                      <button class="anchoring-helper">
                        <div class="shop-now1">Shop Now</div>
                      </button>
                      </a>
                    </div>
                    <div class="ut-sollicitudin-quam">Ut sollicitudin quam vel
                      purus tempus, vel eleifend felis varius.
                    </div>
                  </div>
                </div>
              </div>
              <div class="logic-tree">
                <div class="wrapper-input-filter">
                  <img class="input-filter-icon" loading="lazy" alt
                    src="/images/wooden-box-filled-fresh-vegetables.jpg" />
                </div>
                <h3 class="fresh-vegetables">Fresh Vegetables</h3>
                <div class="condition-node">
                  <div class="loop-node">
                    <a href="/categories">
                    <button class="merge-node">
                      <div class="rectangle6"></div>
                      <div class="shop-now2">Shop Now</div>
                    </button>
                    </a>
                  </div>
                  <div class="aliquam-porta-justo">Aliquam porta justo nibh, id
                    laoreet sapien sodales vitaejusto.
                  </div>
                </div>
              </div>
              <div class="error-handler1">
                <div class="data-transfer">
                  <div class="wrapper-sequential-processor">
                    <img class="sequential-processor-icon" loading="lazy" alt
                      src="/images/legumes-colors.jpg" />
                  </div>
                  <div class="parallel-processor">
                    <h3 class="organic-legume">Organic Legume</h3>
                  </div>
                  <div class="data-transformer">
                    <div class="sorting-node">
                      <a href="/categories">
                      <button class="search-node">
                        <div class="rectangle7"></div>
                        <div class="shop-now3">Shop Now</div>
                      </button>
                      </a>
                    </div>
                    <div class="phasellus-sed-urna">Phasellus sed urna mattis,
                      viverra libero sed, aliquamest.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="comparison-node1 d-flex flex-wrap justify-content-center">
          <div class="decision-node col-lg-12-md-6 d-flex align-items-center">
            <div class="rectangle8"></div>
            <div class="random-node">
              <h1 class="get-25-off">Get 25% Off On Your First Purchase!</h1>
            </div>
            <a href="/categories">
            <button class="variable-node">
              <div class="rectangle9"></div>
              <div class="shop-now4">Shop Now</div>
            </button>
            </a>
          </div>
          <div class="repeat-until-node col-lg-12-md-6 d-flex align-items-center">
            <div class="rectangle10"></div>
            <h3 class="try-it-for">Try It For Free. No Registration Needed.</h3>
          </div>
        </section>
        <section class=" column-node d-flex flex-row justify-content-around">
  <div class="box-node d-flex flex-row col-lg-4 col-md-6 col-sm-12">
    <div class="ellipse-node d-flex flex-column">
      <div class="wrapper-polygon-node">
        <img class="polygon-node-icon img-fluid" loading="lazy" alt="Farmer's Hand" src="/images/farmer-s-hand-woman-holding-vegetable-her-hand-rice-field.jpg" />
      </div>
      <b class="click-edit-button">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</b>
      <div class="filter-tree">
        <div class="mila-kunis">Mila Kunis</div>
      </div>
    </div>

    <div class="conditional-node d-flex flex-column align-items-center">
      <div class="wrapper-rectangle">
        <img class="rectangle-icon1 img-fluid" loading="lazy" alt="Close-Up of Old Farmer" src="/images/close-up-old-farmer-holding-basket-vegetables-man-is-standing-garden-senior-black-apron.jpg" />
      </div>
      <h1 class="deal-of-the text-center">Deal Of The Day 15% Off On All Vegetables!</h1>
      <div class="merging-node d-flex flex-column">
        <div class="splitter-node d-flex justify-content-between">
          <div class="i-am-text">I am text block. Click edit button to change this text em ips.</div>
          <div class="indexer-node">
            <button class="averager-node">
              <div class="rectangle11"></div>
              <div class="shop-now5">Shop Now</div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="ellipse-node1 d-flex flex-column">
      <div class="wrapper-rectangle1">
        <img class="rectangle-icon2 img-fluid" loading="lazy" alt="Organic Production" src="/images/organic-production.jpg" />
      </div>
      <b class="click-edit-button1">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</b>
      <div class="mike-sendler-wrapper">
        <div class="mike-sendler">Mike Sendler</div>
      </div>
    </div>
  </div>
</section>
      </main>
    </div>
  </div>
</body>
