<link rel="stylesheet" href="/stylesheets/editproduct.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
    <div class="container">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Editing: {{ productDetailsViewing.title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button class="btn btn-sm btn-outline-secondary"  id="add_attributes" data-bs-toggle="modal" data-bs-target="#addAttributesModal">+ADD VARIENT</button>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="/admin/product">Product
                                    Management</a></li>
                            <li
                                class="breadcrumb-item active">{{productDetailsViewing.title}}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col text-end fw-lighter">
                    <b>Product ID:</b> {{ productDetailsViewing._id }}
                </div>
            </div>
        </div>
        {{#if error}}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {{/if}}
            {{#if success}}
            <div class="alert alert-success">
                {{success}}
            </div>
            {{/if}}
        <form id="editProductForm"
            action="/admin/editProduct/{{productDetailsViewing._id}}?_method=PUT"
            method="POST" enctype="multipart/form-data">
            <div class="row form-group mb-4 p-3 gap-4">
                <div class="col">
                    <label for="sku"><b>Product SKU</b></label>
                    <input type="text" class="form-control" id="sku"
                        name="sku"
                        value="{{productDetailsViewing.sku }}" sku
                        placeholder="sku" required>
                </div>
                <div class="col">
                        <label for="producttitle"><b>Product Title</b></label>
                        <input type="text" class="form-control"
                            id="producttitle"
                            name="producttitle"
                            value="{{productDetailsViewing.title }}"
                            placeholder="product Title" required>
                </div>
            </div>

                
                <div class="row form-group mb-4 p-3 gap-4">
                    <div class="col">
                            <label for="productPrice"><b>Product
                                    Price</b></label>
                            <input type="text" class="form-control"
                                id="productPrice"
                                name="productPrice"
                                value="{{productDetailsViewing.price}}"
                                placeholder="product Price" required>
                        </div>
                        <div class="col">
                                <label for="category Name"><b>Category</b></label>
                                <select id="categoryId" name="categoryId" class="form-select" required>
                                    {{#each productCategory}}
                                    <option value="{{this._id}}" {{#isEqual this._id productDetailsViewing.categoryId}}selected{{/isEqual}}>
                                    {{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                </div>
                <div class="row form-group mb-4 p-3 gap-4">
                    <div class="col">
                                        <label for="isActive"
                                            class="col-sm-2 col-form-check-label">isActive:</label>
                                        <div
                                            class="col-sm-10 form-check form-switch"
                                            style="padding-left: 4.5em;">
                                            <input class="form-check-input"
                                                name="isActive" type="checkbox"
                                                role="switch" id="isActive"
                                                {{#if
                                                productDetailsViewing.isActive}}checked{{/if}}
                                                style="min-height: 70%;">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="isDeleted"
                                            class="col-sm-2 col-form-check-label">isDeleted:</label>
                                        <div
                                            class="col-sm-10 form-check form-switch"
                                            style="padding-left: 4.5em;">
                                            <input class="form-check-input"
                                                name="isDeleted" type="checkbox"
                                                role="switch" id="isDeleted"
                                                {{#if
                                                productDetailsViewing.isDeleted}}checked{{/if}}
                                                style="min-height: 70%;">
                                        </div>
                                    </div>
                </div>
                                <div class="container mt-3 w-100 py-4">
                                    <div class="card shadow-sm w-100">
                                        <div class="card-header d-flex justify-content-between">
                                            <h4>Upload Images</h4>
                                            <form action="#" class="form" id="form">
                                                <input type="file" name="image" id="product-image" multiple class="d-none" onchange="image_select()">
                                                <button class="btn btn-sm btn-primary" type="button"onclick="document.getElementById('product-image').click()">
                                                Change Images
                                            </button>
                                            </form>
                                        </div>
                                            <div class="card-body d-flex flex-wrap justify-content-start" id="container">
                                            {{#each productDetailsViewing.images}}
                                            <div class="image-container d-flex justify-content-around postion-absolute">
                                                <img src="/{{ this }}" alt="Product Image">
                                            </div>
                                    {{/each}}
                                            </div>
                                    </div>
                                </div>

                                <table class="table table-striped responsiveTable">
                                    <thead >
                                        <tr >
                                            <th scope="col" class="col-1">SKU</th>
                                            <th scope="col" class="col-2">Attribute Name</th>
                                            <th scope="col" class="col-3">Attribute Value</th>
                                            <th scope="col" class="col-4">Price</th>
                                            <th scope="col" class="col-5">Stock</th>
                                            <th scope="col" class="col-6">Image</th>
                                            <th scope="col" class="col-7">is Active</th>
                                            <th scope="col" class="col-8">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each productVariations}}
                                        <tr>
                                                <td class="col-1">{{this.sku}}</td>
                                                <td class="col-2">{{this.attributeName}}</td>
                                                <td class="col-3">{{this.attributeValue}}</td>
                                                <td class="col-4">{{this.price}}</td>
                                                <td class="col-5">{{this.stock}}</td>
                                                <td class="col-6"><img style="width: 50px; height: 50px;" src="/{{this.images.[0]}}" alt="varient Image"></td>
                                                <td class="col-7"><label class="{{#if this.isActive}}Vactive{{else}}Vdeactive{{/if}}">
                                                    {{#if this.isActive}}Active{{else}}Deactive{{/if}}
                                                    </label>
                                                </td>
                                                <td class="col-8 actionButtons"> 
                                                <button type="button" class="btn btn-sm btn-outline-primary editVariantButton" data-bs-toggle="modal" data-bs-target="#editAttributesModal" data-variantid="{{this._id}}">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                                    <form action="/admin/deleteVariant/{{this._id}}?_method=PUT" method="POST" id="deleteform">
                                                        <button type="submit" id="delete_attributes">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </th>
                                        </tr>
                                        {{/each}}
                                        </tbody>
                                </table>
                            <div class="form-group mb-4 d-flex flex-row align-items-center justify-content-evenly">
                                <button type="submit" form="editProductForm" class="btn btn-primary">Update Product</button>
                            </div>
                        </form>
                    </div>
                    <!--Add Attribute Modal -->
    <div class="modal fade" id="addAttributesModal" tabindex="-1" role="dialog" aria-labelledby="addAttributesModalLabel" aria-hidden="true" > 
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addAttributesModalLabel">Add Variant of {{productDetailsViewing.title}} </h5>
        <div class="col text-end fw-lighter">
                    <b>Product ID:</b> {{ productDetailsViewing._id }}
                </div>
                <button type="button" class="close" onclick="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="attributeForm" action="/admin/addVariation/{{productDetailsViewing._id}}" method="post"
        enctype="multipart/form-data">
            <div class="form-group">
            <label for="varientsku">SKU of the Variant:</label>
            <input type="text" class="form-control varientInput" id="varientsku" name="sku">
            </div>
            <div class="row mb-4 py-4">
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varientName">Name of the Variant:</label>
                <input type="text" class="form-control varientInput" id="varientName" name="attributeName">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varientValue">Value of the Variant:</label>
                <input type="text" class="form-control varientInput" id="varientValue" name="attributeValue">
                </div>
            </div>
            </div>
            <div class="row mb-4 py-4">
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varientPrice">Price of the Variant:</label>
                <input type="number" class="form-control varientInput" id="varientPrice" name="price">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varienteStock">Stock of the Variant:</label>
                <input type="number" class="form-control varientInput" id="varientStock" name="stock">
                </div>
            </div>
            </div>
            <div class="row mb-4 py-4">
            <div class="col-sm-4">
                <label for="isActive" class="col-form-label">isActive:</label>
                <div class="form-check form-switch" >  
                <input class="form-check-input" name="isActive" type="checkbox" role="switch" id="isActive" style="min-height: 70%;">
                </div>
            </div>
            </div>
            <div class="container mt-3 w-100 py-4">
            <div class="card shadow-sm w-100">
                <div class="card-header d-flex justify-content-between">
                <h4>Upload Images</h4>
                <form action="#" class="form" id="form">
                    <input type="file" name="image" id="variantImage" multiple class="d-none" onchange="vimage_select()" >
                        <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('variantImage').click()">
                        Choose Images
                        </button>
                </form>
                </div>
                <div class="card-body d-flex flex-wrap justify-content-start" id="variant_container">
                    
                </div>
            </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
        <button type="submit" form="attributeForm" class="btn btn-primary">Add Variant</button>
        </div>
    </div>
    </div>
</div>

<!--Edit Attribute Modal -->
    <div class="modal fade" id="editAttributesModal" tabindex="-1" role="dialog" aria-labelledby="addAttributesModalLabel" aria-hidden="true" > 
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addAttributesModalLabel">Editing Variant of: {{productDetailsViewing.title}} </h5>
        <div class="col text-end fw-lighter">
                    <b>Product ID:</b> {{ productDetailsViewing._id }}
                    
                </div>
                <button type="button" class="close" onclick="closeeditModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="editattributeForm" action="/admin/editVariation/variantId?_method=PUT"
            method="POST" enctype="multipart/form-data">
        <input type="hidden" id="variantId" name="variantId">
            <div class="form-group">
            <label for="varientsku">SKU of the Variant:</label>
            <input type="text" class="form-control varientInput" id="evarientsku" name="esku" >
            </div>
            <div class="row mb-4 py-4">
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varientName">Name of the Variant:</label>
                <input type="text" class="form-control varientInput" id="evarientName" name="eattributeName" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varientValue">Value of the Variant:</label>
                <input type="text" class="form-control varientInput" id="evarientValue" name="eattributeValue" >
                </div>
            </div>
            </div>
            <div class="row mb-4 py-4">
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varientPrice">Price of the Variant:</label>
                <input type="number" class="form-control varientInput" id="evarientPrice" name="eprice" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label for="varienteStock">Stock of the Variant:</label>
                <input type="number" class="form-control varientInput" id="evarientStock" name="estock" >
                </div>
            </div>
            </div>
            <div class="row mb-4 py-4">
            <div class="col-sm-4">
                <label for="isActive" class="col-form-label">isActive:</label>
                <div class="col-sm-10 form-check form-switch" style="padding-left: 4.5em;">
                    <input class="form-check-input" name="eisActive" type="checkbox" role="switch" id="eisActive"
                        style="min-height: 70%;">
                </div>
            </div>
            <div class="col-sm-4">
                <label for="isDeleted" class="col-form-label">isDeleted:</label>
                <div class="col-sm-10 form-check form-switch" style="padding-left: 4.5em;">
                    <input class="form-check-input" name="eisDeleted" type="checkbox" role="switch" id="eisDeleted"
                        style="min-height: 70%;">
                </div>
            </div>
            </div>
                <div class="container mt-3 w-100 py-4">
                    <div class="card shadow-sm w-100">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Upload Images</h4>
                                <form action="#" class="form" id="form">
                                    <input type="file" name="image" id="editVariantImage" multiple class="d-none" onchange="eimage_select()">
                                        <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('editVariantImage').click()"> Change Images
                                        </button>
                                </form>
                        </div>
                        <div class="card-body d-flex flex-wrap justify-content-start" id="editImageContainer">
                            
                        </div>
                    </div>
                </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeeditModal()">Close</button>
        <button type="submit" form="editattributeForm" class="btn btn-primary">Update Variant</button>
        </div>
    </div>
    </div>
</div>
                </body>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="/javascripts/editProduct.js"></script>


                