<link rel="stylesheet" href="/stylesheets/product.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
    <div class="container">
    <h2>Product Management <small>Organic</small></h2>

        {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {{/if}}
        {{#if success}}
        <div class="alert alert-success">
            {{success}}
        </div>
        {{/if}}
        <div class="d-flex flex-row align-items-baseline justify-content-end">
    <!-- Add Category Button -->
    <div class="btn-group me-2"><a href="/admin/addProduct"class="btn btn-sm mb-4"
    style=" background-color: #6A9739; color: white;">+ Add Product</a>
    </div>
    </div>
    </div>
        
        <!-- Product List -->
    <ul class="responsive-table">
        <li class="table-header">
        <div class="col col-1">Product <br>SKU</div>
        <div class="col col-2">Name</div>
        <div class="col col-3">Category</div>
        <div class="col col-4">Price</div>
        <div class="col col-5">Images</div>
        <div class="col col-6">Active</div>
        <div class="col col-7">Actions</div>
        </li>
        {{#each Product}}
        <li class="table-row">
        <div class="col col-1" data-label="product-sku">{{this.sku}}</div>
        <div class="col col-2" data-label="product_title">{{this.name}}</div>
        <div class="col col-3" data-label="product_categoryname">{{this.categoryName}}</div>
        <div class="col col-4" data-label="product-price">{{this.price}}</div>
        <div class="col col-5" data-label="product_image"><img style="width: 50px; height: 50px;" src="/{{this.images.[0]}}" alt="Product Image"></div>
        <div class="col col-6" data-label="active"><label
            class="{{#if this.isActive}}active{{else}}deactive{{/if}}">
            {{#if this.isActive}}Active{{else}}Deactive{{/if}}
          </label>
        </div>
        <div class="col col-7 d-flex flex-row justify-content-left gap-2">
          <button type="button" id="editButton">
            <a href="/admin/editProduct/{{this._id}}">
              <i class="bi bi-pencil"></i></a></button>
              <form action="/admin/deleteProduct/{{this._id}}?_method=PUT" method="POST" id="deleteform">
              <button type="submit" class="deleteButton">
              <i class="bi bi-trash"></i>
              </button>
              </form>
          </div>
      </li>
      {{/each}}
    </ul>
    
    <script src="/javascripts/product.js"></script>
</body>