<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{productDetailsViewing.name}}</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button"
        class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button"
        class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/product">Product
              Management</a></li>
          <li
            class="breadcrumb-item active">{{productDetailsViewing.title}}</li>
        </ol>
      </nav>
    </div>
  </div>

</div>
{{#if error}}
<div class="alert alert-danger">
  {{error}}
</div>
{{/if}}
{{#if success}}
<div class="alert alert-success">
  {{success}}
</div>
{{/if}}

<ul class="list-group">

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Product<br> SKU:</b></div>
      <div class="col">{{productDetailsViewing.sku}}</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Title:</b></div>
      <div class="col">{{productDetailsViewing.title}}</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Details:</b></div>
      <div class="col">{{productDetailsViewing.description}}</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Price:</b></div>
      <div class="col">{{productDetailsViewing.price}}</div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Images:</b></div>
        <div class="col">
            <div class="row">
                {{#each productDetailsViewing.images}}
                <div class="col-4">
                    <img style="width: 100px; height: 100px;" src="/{{this}}" alt="Product Image" class="img-fluid">
                </div>
                {{/each}}
            </div>
        </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Category:</b></div>
      <div class="col">{{productDetailsViewing.categoryName}}</div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>isActive</b></div>
      <div class="col">{{productDetailsViewing.isActive}}</div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>isDeleted</b></div>
      <div class="col">{{productDetailsViewing.isDeleted}}</div>
    </div>
  </li>

</ul>